.login-form {
    width: 408px;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

input, textarea {
    width: 360px;
    height: 40px;
    padding: 8px 0px 8px 16px;
    border-color: transparent;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    resize: none;
}

textarea {
    padding-top: 20px;
}

input:hover, textarea:hover {
    border: 1px solid #000;
    border-radius: 4px;
}

form>button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin-top: 8px;
}

form>button:hover {
    background: #6c8cff;
}