body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.gallery {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    padding: 0;
    margin: 0;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
}

.gallery-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}